body {
    font-family: 'Roboto', sans-serif;
}

.field-error {
    margin-top: .25rem;
    color: #dc3545;
    font-size: 80%;
}

.invalid-field {
    border: 2px solid #dc3545;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

textarea.form-control {
    height: 100%;
}